<h2>Product Details Page</h2>

<div class="row">
  <div class="col-12 col-lg-6">
    <img [src]="productDetails?.imageUrl" class="img-fluid" alt="" />
  </div>
  <div class="col-12 col-lg-6">
    <div>
      <span>Category:</span>
      <span>{{ categoryDetails?.name }}</span>
    </div>
    <div>
      <span>Product Name:</span>
      <span>{{ productDetails?.name }}</span>
    </div>
    <div>
      <span>Product Description:</span>
      <span>{{ productDetails?.description }}</span>
    </div>
  </div>
</div>
