<div class="title text-center mt-4 mb-3 border-bottom">
  Product Listing Page
</div>
<!-- Dropdown -->
<section>
  <div class="row mb-3 text-center">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <span class="mr-2 dropdown-label">Category</span>
        <button
          class="btn btn-outline-primary dropdown-button"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ selectedCategory?.name }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngFor="let category of categoryList"
            ngbDropdownItem
            (click)="onCategoryChange(category)"
          >
            {{ category?.name }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Thumbnails -->
<section class="wrapper">
  <app-product-thumbnail
    class="m-2"
    *ngFor="let product of productList"
    [product]="product"
  ></app-product-thumbnail>
</section>
